<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcaVrCE-aMJ1izbB8X8mh427z-f6WHCsU</string>
	<key>GCM_SENDER_ID</key>
	<string>423780375300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Align.Duo.Align</string>
	<key>PROJECT_ID</key>
	<string>align-2f996</string>
	<key>STORAGE_BUCKET</key>
	<string>align-2f996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423780375300:ios:f0ed07340dfaf171f98e51</string>
</dict>
</plist>